<page>
  <header>
    <appbar [title]="'Coffee Recipes'"></appbar>
  </header>
  <content>
    <ul>
      <li *ngFor="let recipe of recipes()">
        <span class="recipe-name">{{recipe.name}}</span>
        <br/>
    <span class="ingredients">
      Water: {{recipe.waterMl}} ml |
      Coffee Bean: {{recipe.coffeeBeanMl}} ml |
      Sugar: {{recipe.sugarMl}} ml |
      Milk: {{recipe.milkMl}} ml |
      Milk Froth: {{recipe.milkFrothMl}} ml
    </span>
      </li>
    </ul>
  </content>
</page>

